
<div>
  <div class="shopping-stats">
    <span class="shopping-items">
      Amount of food items to buy: <%= @data.size %>
    </span>
    <span class="shopping-cost">
      Total cost of food items: $<%= @total_cost %>
    </span>
  </div>
  <div class="shopping-table">
    <%= render "shared/food_table", type: 'shopping' %>
  </div>
</div>