.list-header {
    margin-top: 1.5rem;
  }
  
  .total-div {
    margin-top: 1.5rem;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .table-header {
    background-color: tomato;
  }
  