::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #2ec76d;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  background: #fafafa;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

.alert {
  position: absolute;
  top: 25px;
  right: 25px;
  background: #d5f9ff;
  border: 1px solid #87b8f9;
  padding: 15px 20px;
  min-width: 250px;
  border-radius: 10px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.alert-error {
    background: #ffd5d5;
    border: 1px solid #f98787;
    color: #f00;
  }

  &.alert-info {
    background: #d5d5ff;
    border: 1px solid #8787f9;
    color: #666;
  }

  &.alert-warning {
    background: #fff8d5;
    border: 1px solid #f9f987;
    color: #666;
  }

  &.alert-success {
    background: #d5ffd5;
    border: 1px solid #87f987;
    color: #666;
  }

  .close {
    cursor: pointer;
    font-size: 20px;
    color: #666;
    transition: all 0.3s ease;
    background: none;
    border: none;

    &:hover {
      color: #000;
    }
  }
}

.page_container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;

  &.show_menu {
    .main_page {
      width: calc(100vw - 250px);
      flex-grow: 1;
      padding: 50px 80px;
      margin-left: 250px;
      overflow-x: hidden;

      .page_header {
        margin-bottom: 65px;

        .greeting {
          color: #999;
          margin-bottom: 10px;
          display: block;
        }

        .page_title {
          font-size: 2rem;
          font-weight: 600;
          color: #444;
        }
      }
    }

    .main_menu {
      width: 250px;
      background: #f3f3f3;
      border-right: 1px solid #e5e5e5;
      position: fixed;
      height: 100vh;
    }
  }

  .main_nav,
  .account_nav {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 50px 0;

    .menu_title {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      color: #afafaf;
      padding-bottom: 10px;
    }

    .menu_items {
      display: flex;
      flex-direction: column;

      .menu_item {
        text-decoration: none;
        cursor: pointer;
        color: #8d8d8d;
        font-size: 14px;
        font-weight: 500;
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 15px;
        border-right: 3px solid transparent;
        transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;

        .menu_item_text {
          transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        }

        &:hover {
          color: #2ec76d;
          border-right-color: #2ec76d;

          .menu_item_text {
            transform: translateX(5px);
          }
        }

        &.active {
          color: #2ec76d;
          border-right-color: #2ec76d;
        }
      }
    }
  }

  .recipe_highlights {
    padding: 20px;
    background: #f3f3f3;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin-bottom: 30px;
    line-height: 1.5;

    .recipe_highlight,
    .recipe_description {
      margin-bottom: 15px;
    }

    .recipe_highlight_label,
    .recipe_description_label {
      font-weight: 500;
      color: #666;
      display: block;
      margin-bottom: 5px;
    }

    .recipe_highlight_details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .recipe_highlight_key_details {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .recipe_buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
  }

  .food_picture_container {
    width: 250px;
    min-width: 250px;
    background: #f3f3f3;

    .food_picture {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .recipe_list {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 50px;

    .recipe_list_item {
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      .recipe_delete_button {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 10px 13px;
        border-radius: 5px;
        color: #2ec76d;
        background: #fff;
        border: 1px solid #2ec76d;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;

        &:hover {
          color: #fff;
          background: #2ec76d;
        }
      }

      .recipe_list_item_link {
        display: flex;
        height: 100%;
      }

      .recipe_details {
        flex-grow: 1;
        padding: 25px 35px;
        display: flex;
        flex-direction: column;

        .recipe_name {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #444;
          transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        }

        .recipe_description {
          font-weight: 400;
          color: #8d8d8d;
          margin-bottom: 25px;
          line-height: 1.25;
          display: flex;
          flex-direction: column;
          gap: 25px;
        }

        .recipe_creator {
          font-style: italic;
          color: #b3b3b3;
          margin-bottom: 15px;
        }

        .recipe_meta {
          display: flex;
          justify-content: space-between;
          color: #8d8d8d;
          margin-top: auto;

          .recipe_rating {
            color: #ffd700;
            font-size: 1.5rem;
          }
        }
      }

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

        .recipe_name {
          color: #2ec76d;
        }
      }
    }
  }
}
